<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- 네이버 구글 등 검색 표준 메타 데이터 삽입 시 검색이 더 잘됨 -->
        
        
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>군생활 강도측정</title>
    </head>
<body>
    <section id="main_contents">
        <div class="wrapper">
            <div class="title">
                <h3 class="main_title">군생활 강도 측정</h3>
                <h3 class="main_title">Military Life Intensity Check</h3>           
            </div>
            <div class="intro">
                <h1>당신의 군생활 강도는?</h1>
                <div class="type">
                    <ul class="type_list">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
            </div>
            <div class="buttons">
                <a href="#">
                    <button class="start" type="button">시작하기</button>
                </a>
            </div>
            <div class="result_data">
                <div class="data_wrap">
                    <h3>참여자 수</h3>
                    <ul>
                        <li>1:0명</li>
                        <li>2:0명</li>
                        <li>3:0명</li>
                        <li>4:0명</li>
                        <li>5:0명</li>
                    </ul>
                </div>
            </div>
            <div class="weniv">
                <a href="http://www.paullab.co.kr">
                    <img src="img/weniv_logo_black.png" alt="weniv" />
                </a>
            </div>
        </div>
    </section>

</body>
</html>