{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 네이버 구글 등 검색 표준 메타 데이터 삽입 시 검색이 더 잘됨 -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
        <title>군생활 강도측정</title>
    </head>
<body>
    <section id="survey">
        <div class="wrapper">
            <form id="form" action="/result/" method='post'>
                {% csrf_token %}
                {% for question in questions %}
                    <div class="test">
                        <div class="question_container">
                            <h3 class="number">{{question.number}}/{{questions_count}} </h3>
                            <h3 class="question">{{question.content}}</h3>
                        </div>
                        <div class="answer">
                            {% for choice in question.choice_set.all %}
                                <div>
                                    <input id="choice-{{choice.pk}}" type="radio" name="question-{{ question.number}}" value="{{choice.intensity}}">
                                    <label for="choice-{{choice.pk}}" for="">{{choice.content}}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% if not forlopp.first %}
                        <div class="btn_wrap bnt_sort">
                        {% else %}
                            <div class="btn_wrap">
                        {% endif %}
                        {% if not forlopp.first %}
                                <buttom class="prev_btn">이 전</buttom>
                        {% endif %}
                        {% if not forlopp.first %}
                                <buttom class="next_btn">다 음</buttom>
                        {% else %}
                                <input type="submit" value="확 인" class="submit_btn"/>
                        {% endif %}
                            </div>
                        </div>
                {% endfor %}
                </div>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
    
</body>
</html>